body{
    background-color: rgb(46, 44, 44);
    display: flex;
    justify-content: center;
    color: white;
    height: auto;
}

.login-box {
     display: flex;
     flex-direction: column; 
     gap: 10px;              
     width: 300px;
     padding: 25px;
     background: rgb(42, 40, 40);
     border-radius: 50px;
     align-items: center;
     margin-top: 100px;
}

.login-box img {
    height: 100px;
    width: 100px;
    border-radius: 40px;
}

.login-box input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-box button {
    margin-top: 10px; 
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background: #3e4348;
    color: white;
    cursor: pointer;
}

.login-box button:hover {
    background: gray;
}

button:hover {
    background-color: gray;
    transform: perspective(1.2s);
}

button:active {
      transform: scale(0.95) translateY(2px);
}

